.ReviewsContainer{
    height: 100%;
}
.header{
    height: 10%;
    display: flex;
}
.reviewTable{
    height: 70%;
    overflow: auto;
    direction: rtl;
}
.footer{
    height: 20%;
    display: flex;
}
.top{
    border-bottom: 1px  solid #a1a4ae !important;
    th{
        background-color: var(--mainColor);
        text-align: start;
        color: #a1a4ae;
        position: sticky;
        top: 0;
    }
}
table{
    margin: auto;
    margin-top: 1rem;
    width: 95%;
    border-collapse: collapse;
    direction: ltr;
}
th{
    padding-right: 0.8rem;
    text-align: start;
}
.loadButton{
    margin: auto;
}
.title{
    font-family: cursive;
    padding: 10px;
    width: 50%;
}
.addComment{
    width: 50%;
    padding: 10px;

}
.popup-content{
    background: none !important;
    border: none !important;
}
#topButton{
    padding: 2px !important;
    position: relative;
    left: 60%;
    top: 45%;
    box-shadow: none !important;
}