th{
    border-bottom: 1px var(--disableText) solid;
}
img{
    height: 1.5rem;
    width: 1.5rem;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 5px;
}
.profileContainer{
    margin: 0.5rem;
    display: flex;
}
