@media only screen and (max-width: 900px) {
    .container{
        display: block !important;
    }
    .sideElement{
        width: 40rem !important;
        height: 3rem !important;
    }
    .mainElement {
        width: 40rem !important;
        border-top-right-radius: 0 !important;
    }
}

.container{
    display: flex;
    margin: auto auto;
}

.mainElement,
.sideElement {
    height: 30rem;
}
.sideElement{
    width: 15rem;
    background-color: var(--sideColor);
    border-top-left-radius: 2%;
}
.mainElement {
    border-top-right-radius: 2%;
    width: 40rem;
    background-color: var(--mainColor);
}