@media only screen and (max-width: 900px) {
    .linkContainer{
        flex-direction:row !important;
    }
    .avatarContainer{
        display: none !important;
    }
    .linkContainer{
        height: 100%;
    }
}
.avatarContainer{
    margin: auto;
    width: 60%;
    height:30%;
    display: flex;
}

.linkContainer{
    text-align: left;
    margin: auto;
    margin-top:2rem;
    height: 70%;
    width: 70%;
    display: flex;
    flex-direction: column;
}
.sideMenuContainer{
    height: 100%;
}
a{
    font-size: 0.8rem;
    padding-left: 0 !important;
}
#profileAvatar{
    height: 70%;
    width: 70%;
    margin:auto;
}