:root {
  --mainColor: #29293e;
  --sideColor: #29293ecf;
  --disableText: #a1a4ae;
  --selectedText:#66656c;
  --buttonColor:#76c799;
  --buttonHoverColor:#48E68B;
}
body{
  margin: 0;
}
html{
  background-image: url('./assets/background.png');
  color: white;
}

::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #8c8585;
}

::-webkit-scrollbar
{
	width: 12px;
	background-color: #8c8585;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}

.button:hover { 
    background-color: #48E68B; 
  } 
.button{ 
    margin: auto; 
    text-align: center; 
    border-radius: 5px; 
    padding: 15px 25px; 
    text-decoration: none; 
    color: #fff; 
    position: relative; 
    display: inline-block; 
    background-color: var(--buttonColor); 
    box-shadow: 0px 5px 0px 0px #4a4a4a; 
}